<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Chornobajivka Company Home Page</title>
</head>
    <body>
        <h2>Chornobajivka Company Home Page</h2>
        <hr>
        <p>
            Welcome to Chornobajivka Company home page
        </p>
        <hr>
        <p>
            User: <span sec:authentication="principal.username"></span>
            <br><br>
            Role(s): <span sec:authentication="principal.authorities"></span>
        </p>
        <hr>
        <!--Add a link for leaders-->
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a> (Only for manager peeps)
        </p>
        <!--Add a link for systems-->
        <p>
            <a th:href="@{/systems}">Leadership Meeting</a> (Only for manager peeps)
        </p>
        <hr>
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>

        </form>
    </body>
</html>