<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
    <style>
        .failed{
            color: red;
        }
    </style>
</head>
<body>

<h3>My Custom Login Page</h3>
<div th:if="${param.error}" class="failed">
    <i>Sorry you entered invalid login/password. Try again</i>
</div>
<form action="#" th:action="@{/authenticateTheUser}" method="POST" >
    <p>
    User name: <input type="text" name="username">
    </p>
    <p>
        User password: <input type="password" name="password">
    </p>
    <input type="submit" value="Login">
</form>

</body>
</html>