<html xml:lang="en" xmlns:th="http://www.thymelef.orq" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
First name: <input type="text" th:field="*{firstName}">
    <br><br>
Last name: <input type="text" th:field="*{lastName}">
    <br><br>
Country: <select th:field="*{country}">
    <option th:each="theCountry : ${countries}" th:value="${theCountry}" th:text="${theCountry}" />

</select>
    <br><br>
    Favorite Programming Language:
    <input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
    <input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input>
    <input type="radio" th:field="*{favoriteLanguage}" th:value="GO">GO</input>
    <br><br>
    <input type="submit" value="Submit">


</form>
</body>
</html>